body, h1, h2, p, div, span, li, ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333340;
  color: white;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

h1 {
  text-transform: uppercase;
}


.SearchBox {
  border: none;
  border-radius: 0px;
  padding: 5px 0;
  width: 100%;
  border-bottom: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 2em;
  outline: none;
}

.Result {
  margin: 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  border-top-right-radius: 10px;
  padding: 4px 10px;
}


.RemoveButton {
  float: right;
  cursor: pointer;
}

.SmallButton {
  cursor: pointer;
  font-size: 0.8em;
}

.Highlights {
  text-align: center;
}


@media only screen and (max-width: 999px) {
  .Info {
      position: absolute;
      top: 50px;
      left: 10px;
  }
  
  .Search {
      position: absolute;
      top: 150px;
      left: 10px;
      width: 120px;
  }
      
  .Selected {
      position: absolute;
      left: 10px;
      bottom: 20%;
      width: 120px;
  }

  .Highlights {
      position: absolute;
      bottom: 10px;
      width: 100%;
  }

  .Hint { font-size: 0.9em;}
  .Highlight { font-size: 3em;}

  .FastFilter {
    position: absolute;
    left: 10px;
    width: 80%;
  }

  .FastFilterItem {
    width: 10%;
    float:left;
  }
}

@media screen and (min-width: 1000px) {

  .Info {
      position: absolute;
      top: 100px;
      left: 50px;
  }
  
  .Search {
      position: absolute;
      top: 180px;
      left: 50px;
      width: 200px;
  }
      
  .Selected {
      position: absolute;
      left: 50px;
      top: 50%;
      width: 200px;
  }
  
  .Highlights {
      position: absolute;
      top: 10px;
      width: 100%;
  }

  .Hint { font-size: 0.9em;}
  .Highlight { font-size: 3em;}

  .FastFilter {
    position: absolute;
    left: 50px;
    width: 80%;
  }

  .FastFilterItem {
    width: 10%;
    float:left;
  }
}

.preview__container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: white;
  top: 0;
  right: -100%;
  transition: all 0.2s ease-in-out;
}

.preview__container--active {
  right: 0;
}

.preview__description__container {
  padding: 1rem;
  color:black;
}

.preview__description__container > span {
  width: 100%;
  display:inline-block;
  font-size: 1.25rem;
  margin-bottom:1vh;
}

.preview__close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.preview__button {
  text-decoration: none;
  font-weight: bold;
  background-color: #f9b29c;
  border-radius: 0.5rem;
  appearance: none;
  border: none;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  margin: 1rem auto;
  cursor: pointer;
}

.preview__title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #000;
}

.preview__description {
  line-height: 1.5rem;
  color: #484848;
}

.preview__picture {
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview__header {
  height: 10vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@media only screen and (min-width: 768px) {
  .preview__container {
    top: auto;
    width: 33%;
  }
}